html {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  font-size: 1.5em;
  margin: 0;
}

a {
  color: #7f7f7f;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-style: italic;
}

.h-center {
  position: relative;
  height: 100%;
}

.h-center > .centered {
  width: 300px;
  height: 250px;
  padding: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  margin: -70px 0 0 -170px;
}

.continue {
  margin-top: 50px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
